.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FAE1DD;
}

.logo img {
    max-height: 120px; 
    margin-right: 20px;
}

/* Título principal */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.2em;
    color: #D291BC;
}

/* Menú de navegación */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #F4DADA;
}
